@import url(https://fonts.googleapis.com/css?family=Funnel+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700);
@import "tailwindcss";

@theme {
  --font-default: Oswald, sans-serif;
  --font-alt: Funnel Sans, sans-serif;
}